
@media (min-width: 481px) and (max-width: 767px) {

    .pause-resume{
        position: absolute;
        left: 5vw;
        top: calc(50vh - 40px);
        width: 80px;
        height: 80px;
    }

    .joystick{
        position: absolute;
        right: 5vw;
        top: calc(50vh - 40px);
        width: 80px;
        height: 80px;
    }

    .top-ten-table-score table {
        border-collapse: collapse;
        border: 2px solid #C8C8C8;
        letter-spacing: 1px;
        font-family: sans-serif;
        font-size: 0.5vh;
        color:black;
    }

    .top-ten-table-score td, .top-ten-table-score th {
        border: 1px solid #BEBEBE;
        padding: 0;
        font-size: 3vh;
    }

    .top-ten-table-score caption span{

        font-size: 3vh;
    }

    .top-ten-start, .game-over-retry{
        padding: 3px;
        margin-top: 3px;
        border-radius: 2px;
        font-size: 8px;
        color: white;
        text-decoration: none;
        letter-spacing: 1px;
    }

    .game-over p{
        margin-bottom: 4px;
        color: #DD2C19;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }

    .help-title {
        margin-bottom: 6px;
        font-size: 16px;
    }

    .help-content{
        font-size: 8px;
    }

    .help-content ul li {
        font-size: 12px;
    }

    .help-content p{
        font-size: 14px;
    }

    .help-content span{
        font-size: 12px;
    }

}

@media (min-width: 320px) and (max-width: 480px){

    .pause-resume{
        position: absolute;
        left: 5vw;
        bottom: 5vw;
        width: 80px;
        height: 80px;
    }

    .joystick{
        position: absolute;
        right: 5vw;
        bottom: 5vw;
        width: 80px;
        height: 80px;
    }

    .help-title {
        margin-bottom: 6px;
        font-size: 16px;
    }

    .help-content{
        font-size: 8px;
    }

    .help-content ul li {
        font-size: 12px;
    }

    .help-content p{
        font-size: 14px;
    }

    .help-content span{
        font-size: 12px;
    }
}

@media (max-width: 319px) {

    /* écran trop petit*/
    .container{
        visibility: hidden;
    }
}